# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [1]:
# Details Student 1: Elad Ron

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [2]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [3]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [4]:
# word net installation:

# unmark if you want to use and need to install
#!pip install wn
#!python -m wn download omw-he:1.4

In [5]:
# word net import:

# unmark if you want to use:
#import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [6]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
#!pip install hebrew_tokenizer

In [7]:
# Hebrew tokenizer import:

# unmark if you want to use:
#import hebrew_tokenizer as ht

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [8]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [9]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [10]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

## Splitting The Data

In [11]:
# Splitting the data to features and labels

features = df_train.iloc[:,:-1]
labels = df_train.iloc[:, -1:]

### Text Preprocessing :

In [12]:
def preprocess_text(text):

    text = re.sub(r"[^\u0590-\u05FF\s]+", "", text) # Remove non-Hebrew characters, punctuation and special characters
    text = re.sub(r"[^\w\s]+", "", text)            # Remove punctuation and special characters
    text = re.sub(r"[\u05B0-\u05C7]", "", text)     # Remove diacritics and vowel points
    text = re.sub(r"\s+", " ", text).strip()        # Remove extra spaces
    
    return text

# Apply the preprocessing function to the 'story' column
features['preprocessed_story'] = features['story'].apply(preprocess_text)

### Vectorization

In [13]:
def dataToVectorizedDf(data):
    vectorizer = TfidfVectorizer(max_features = 8000, ngram_range = (1,2), sublinear_tf = True)
    vectorizer_matrix = vectorizer.fit_transform(data['story'])
    vectorizer_df = pd.DataFrame(data = vectorizer_matrix.toarray(), columns = vectorizer.get_feature_names())
    return vectorizer_df

vectorized_df = dataToVectorizedDf(features)

vectorized_df.shape

(753, 8000)

In [14]:
# Split the data into training and validation sets
X_train, X_test, y_train, y_test = train_test_split(vectorized_df, labels, test_size=0.2, random_state=42)


# Model Selection Section:

### KNN Model - Training

In [15]:
knn = KNeighborsClassifier()

# Define the parameter grid to search over
param_grid = {
    'n_neighbors': [3, 5, 7],
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'p': [1, 2]
}

# Create a GridSearchCV object
grid_search = GridSearchCV(knn, param_grid, cv=5, scoring='f1_macro')

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

print('Best accuracy score:', grid_search.best_score_)
print('Best hyperparameters:', grid_search.best_params_)

best_knn = grid_search.best_estimator_
y_pred = best_knn.predict(X_test)

# Calculate the F1 score
f1 = f1_score(y_test, y_pred, average='macro')
print("F1 score:", f1)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'n_neighbors': [3, 5, 7], 'p': [1, 2],
                         'weights': ['uniform', 'distance']},
             scoring='f1_macro')

Best accuracy score: 0.6302487490512239
Best hyperparameters: {'algorithm': 'auto', 'n_neighbors': 5, 'p': 2, 'weights': 'distance'}
F1 score: 0.599530196256725

### KNN Model - Testing

In [16]:
vectorized_test_df = dataToVectorizedDf(df_test)
test_prediction = best_knn.predict(vectorized_test_df)
df_test['gender'] = test_prediction

# showing the DataFrame with the predictions (as requested)
df_test.head()
df_test.tail()

   test_example_id                                              story gender
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...      m
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...      m
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...      m
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...      m
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...      m

     test_example_id                                              story gender
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה, השגרה הפכה...      m
319              319  אני ואילן חברים טובים מזה 20 שנה תמיד חלמנו לפ...      m
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...      m
321              321  לפני מספר חודשים, בשיא התחלואה של הגל השני, עמ...      m
322              322  היום בו דיווחתי על גניבה של האוטו שלי. בוקר אח...      m

### LinearSVC Model - Training

In [17]:
linearSVC = LinearSVC()

# Define the parameter grid to search over
param_grid = {
    'C': [0.1, 1, 10],
    'penalty': ['l1', 'l2'],
    'loss': ['hinge', 'squared_hinge'],
    'dual': [False],
    'tol': [1e-3, 1e-4, 1e-5]
}

# Create a GridSearchCV object
grid_search = GridSearchCV(linearSVC, param_grid, cv=5, scoring='f1_macro')

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

print('Best accuracy score:', grid_search.best_score_)
print('Best hyperparameters:', grid_search.best_params_)

best_linearSVC = grid_search.best_estimator_
y_pred = best_linearSVC.predict(X_test)

# Calculate the F1 score
f1 = f1_score(y_test, y_pred, average='macro')
print("F1 score:", f1)

GridSearchCV(cv=5, estimator=LinearSVC(),
             param_grid={'C': [0.1, 1, 10], 'dual': [False],
                         'loss': ['hinge', 'squared_hinge'],
                         'penalty': ['l1', 'l2'],
                         'tol': [0.001, 0.0001, 1e-05]},
             scoring='f1_macro')

Best accuracy score: 0.6246550774982909
Best hyperparameters: {'C': 10, 'dual': False, 'loss': 'squared_hinge', 'penalty': 'l1', 'tol': 0.0001}
F1 score: 0.6864303616183316

### LinearSVC Model - Testing

In [18]:
vectorized_test_df = dataToVectorizedDf(df_test)
test_prediction = best_linearSVC.predict(vectorized_test_df)
df_test['gender'] = test_prediction

# showing the DataFrame with the predictions (as requested)
df_test.head()
df_test.tail()

   test_example_id                                              story gender
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...      f
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...      f
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...      f
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...      m
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...      f

     test_example_id                                              story gender
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה, השגרה הפכה...      m
319              319  אני ואילן חברים טובים מזה 20 שנה תמיד חלמנו לפ...      f
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...      f
321              321  לפני מספר חודשים, בשיא התחלואה של הגל השני, עמ...      f
322              322  היום בו דיווחתי על גניבה של האוטו שלי. בוקר אח...      m

### MultinomialNB Model - Training

In [19]:
# Create a MultinomialNB classifier
multinomial_nb = MultinomialNB()

# Define the parameter grid to search over
param_grid = {
    'alpha': [0.1, 1.0, 10.0],  # Smoothing parameter
    'fit_prior': [True, False]  # Whether to learn class prior probabilities or not
}

# Create a GridSearchCV object
grid_search = GridSearchCV(multinomial_nb, param_grid, cv=5, scoring='f1_macro')

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

print('Best F1 score:', grid_search.best_score_)
print('Best hyperparameters:', grid_search.best_params_)

best_multinomial_nb = grid_search.best_estimator_
y_pred = best_multinomial_nb.predict(X_test)

# Calculate the F1 score
f1 = f1_score(y_test, y_pred, average='macro')
print("F1 score:", f1)

GridSearchCV(cv=5, estimator=MultinomialNB(),
             param_grid={'alpha': [0.1, 1.0, 10.0], 'fit_prior': [True, False]},
             scoring='f1_macro')

Best F1 score: 0.6711671332864941
Best hyperparameters: {'alpha': 0.1, 'fit_prior': False}
F1 score: 0.781906512605042

### MultinomialNB Model - Testing

In [20]:
vectorized_test_df = dataToVectorizedDf(df_test)
test_prediction = best_multinomial_nb.predict(vectorized_test_df)
df_test['gender'] = test_prediction

# showing the DataFrame with the predictions (as requested)
df_test.head()
df_test.tail()

   test_example_id                                              story gender
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...      m
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...      m
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...      f
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...      f
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...      m

     test_example_id                                              story gender
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה, השגרה הפכה...      f
319              319  אני ואילן חברים טובים מזה 20 שנה תמיד חלמנו לפ...      m
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...      f
321              321  לפני מספר חודשים, בשיא התחלואה של הגל השני, עמ...      f
322              322  היום בו דיווחתי על גניבה של האוטו שלי. בוקר אח...      f

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following: